# Copyright (c) 2026 devlive-community/grantforge
#
# Licensed under the MIT License. See the LICENSE file in the
# project root for full license text.

# Enforced in CI by script/ci/check_file_format.py.
root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4

[*.{js,jsx,ts,tsx,vue,css,json,yml,yaml,html}]
indent_size = 2

[*.md]
trim_trailing_whitespace = false

[{mvnw.cmd,*.cmd,*.bat}]
end_of_line = crlf
